name: Deploy Wiki to GitHub Pages

on:
  push:
    branches: [ main ]
    paths:
      - 'Wiki/**' # 仅当 Wiki 文件夹有变化时触发
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Wiki 
    strategy:
      matrix:
        node-version: [22.x]
    steps:
       - uses: actions/checkout@v4
    - name: Install pnpm
      uses: pnpm/action-setup@v4.0.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
        cache-dependency-path: |
         ./frontend/pnpm-lock.yaml
         ./backend/pnpm-lock.yaml

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
